<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1>Person: <%= id %></h1>
        <h2>length: <%= id.length %></h2>
        <p>
            Querystring value : <%= queryString %>
        </p>
    </body>
</html>